.productDetailedDescriptions {
  border-top: 1px solid rgba(90, 45, 130, .57);
  border-bottom: 1px solid rgba(90, 45, 130, .57);
  padding: 30px;
}

.detailedDescriptionsTitle {
  color: #545356;
  font-weight: 700;
  font-size: 1.25rem;
  margin-bottom: 20px;
  display: block;
}

.fullDescriptionText {
  font-size: .875rem;
  line-height: 1.375rem;
  display: block;
  margin-bottom: 30px;
  color: #605C63;
}

.detailedMeta {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 20px;
}

.detailedMeta strong {
  font-weight: 700;
}